div {
    display: block;
}
.minimalHeight {
        min-height: 0.0625rem;
        padding: 0;
        margin: 0;
}
.row {
    max-width: 82.5rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    flex-grow: 1;
    font-family: Exo,Helvetica,Arial,sans-serif;
    font-weight: 400;
    line-height: 1;
    color: #3c464a;
    font-size: 1rem;
}
.small-12 {
    flex: 0 0 100%;
    max-width: 100%
}
.row.collapse .columns {
    padding-left: 0;
    padding-right: 0
}

.row.collapse .row {
    margin-right: 0;
    margin-left: 0
}

.row .row {
    margin-left: -1.25rem;
    margin-right: -1.25rem
}

@media screen and (min-width: 31.3125em) {
    .row .row {
        margin-left:-1.875rem;
        margin-right: -1.875rem
    }
}

@media screen and (min-width: 46.9375em) {
    .row .row {
        margin-left:-1.875rem;
        margin-right: -1.875rem
    }
}

@media screen and (min-width: 60.0625em) {
    .row .row {
        margin-left:-1.875rem;
        margin-right: -1.875rem
    }
}

@media screen and (min-width: 83.75em) {
    .row .row {
        margin-left:-.9375rem;
        margin-right: -.9375rem
    }
}

@media screen and (min-width: 120.0625em) {
    .row .row {
        margin-left:-.9375rem;
        margin-right: -.9375rem
    }
}

.columns {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    min-height: .0625rem
}

@media screen and (min-width: 31.3125em) {
    .columns {
        padding-left:1.875rem;
        padding-right: 1.875rem
    }
}

@media screen and (min-width: 46.9375em) {
    .columns {
        padding-left:1.875rem;
        padding-right: 1.875rem
    }
}

@media screen and (min-width: 60.0625em) {
    .columns {
        padding-left:1.875rem;
        padding-right: 1.875rem
    }
}

@media screen and (min-width: 83.75em) {
    .columns {
        padding-left:.9375rem;
        padding-right: .9375rem
    }
}

@media screen and (min-width: 120.0625em) {
    .columns {
        padding-left:.9375rem;
        padding-right: .9375rem
    }
}

.columns>.t3ce {
    min-height: .0625rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1
}
h3 {
color: #009639;
    text-transform: none;
        font-size: 1.75rem;
    }
a {
    color: #28b568;
    text-decoration: none;
    line-height: inherit;
    cursor: pointer
}

a:focus,a:hover {
    color: #1c7f49
}

a img {
    border: 0
}
a:not(.elementButton,.facet-button):focus, a:not(.elementButton,.facet-button):hover {
    text-decoration: underline
}
.maxtsubb-l-black {
    color: #000;
}
.frame-space-before-small {
    margin-top: 2em;
}
.frame, .minimalHeight, .minimalHeight .row {
    z-index: 1;
    min-height: 0.0625rem;
}
.u-flex--rowWrap {
    flex-flow: row wrap;
}
.u-flex {
    display: flex;
}
.brandOverview-container--default .brandBlock-image .imagePlaceholder-image,.brandOverview-container--market .brandBlock-image .imagePlaceholder-image {
    width: auto;
    font-family: "object-fit:contain";
    -o-object-fit: contain;
    object-fit: contain
}

.brandOverview-container--default .brandBlock {
    padding: .4375rem
}

@media screen and (min-width: 31.3125em) {
    .brandOverview-container--default .brandBlock {
        padding:.625rem
    }
}

@media screen and (min-width: 60.0625em) {
    .brandOverview-container--default .brandBlock {
        padding:.9375rem
    }
}

@media screen and (min-width: 31.3125em) {
    .brandOverview-container--default .brandBlock {
        width:50%
    }
}

@media screen and (min-width: 60.0625em) {
    .brandOverview-container--default .brandBlock {
        width:25%
    }
}

.brandOverview-container--default .brandBlock .brandBlock--button {
    justify-content: flex-end;
    margin-bottom: 0;
    pointer-events: none
}

.brandOverview-container--default .brandBlock:focus .brandBlock-inner,.brandOverview-container--default .brandBlock:hover .brandBlock-inner {
    background-color: #dff4e8
}

.brandOverview-container--default .brandBlock-image {
    padding-top: .875rem
}

@media screen and (min-width: 31.3125em) {
    .brandOverview-container--default .brandBlock-image {
        padding-top:1.25rem
    }
}

@media screen and (min-width: 60.0625em) {
    .brandOverview-container--default .brandBlock-image {
        padding-top:1.875rem
    }
}

.brandOverview-container--default .brandBlock-image .imagePlaceholder-image {
    max-width: 50%;
    margin: auto
}

.brandOverview-container--default .brandBlock-inner {
    position: relative;
    padding-right: .875rem;
    padding-bottom: .875rem;
    padding-left: .875rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 16.875rem;
    padding-top: 2.625rem;
    background-color: #f4faed
}

.brandOverview-container--default .brandBlock-inner:after {
    content: "";
    position: absolute;
    top: auto;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: block;
    width: auto;
    height: 8%;
    transform: none
}

.brandOverview-container--default .brandBlock-inner:after {
    background-image: linear-gradient(to right bottom,#fff 49%,rgba(255,255,255,0) 51%)
}

@media screen and (min-width: 31.3125em) {
    .brandOverview-container--default .brandBlock-inner {
        padding-right:1.25rem;
        padding-bottom: 1.25rem;
        padding-left: 1.25rem
    }
}

@media screen and (min-width: 60.0625em) {
    .brandOverview-container--default .brandBlock-inner {
        padding-right:1.875rem;
        padding-bottom: 1.875rem;
        padding-left: 1.875rem
    }
}

.brandOverview-container--default .brandBlock-inner:after {
    top: 0
}

.brandOverview-container--default .brandBlock-title {
    padding-bottom: .4375rem;
    font-weight: 600;
    font-size: 1.375rem;
    color: #000
}

@media screen and (min-width: 31.3125em) {
    .brandOverview-container--default .brandBlock-title {
        padding-bottom:.625rem
    }
}

@media screen and (min-width: 60.0625em) {
    .brandOverview-container--default .brandBlock-title {
        padding-bottom:.9375rem
    }
}

.brandOverview-container--default .brandBlock-description {
    font-weight: 300;
    color: #3c464a
}

@media screen and (min-width: 60.0625em) {
    .brandOverview-container--default .brandBlock-description {
        max-height:7.1875rem
    }
}
.imagePlaceholder--brandBlock-compact {
    background-color: #fff
}

.imagePlaceholder--brandBlock-compact:before {
    padding-top: 12%
}

@media screen and (min-width: 31.3125em) {
    .imagePlaceholder--brandBlock-compact:before {
        padding-top:8%
    }
}

@media screen and (min-width: 83.75em) {
    .imagePlaceholder--brandBlock-compact:before {
        padding-top:20%
    }
}

.imagePlaceholder--overviewBlock--landscape:before {
    padding-top: 67%
}

.imagePlaceholder--imageBanner:before {
    padding-top: 23.4375rem
}

@media screen and (min-width: 31.3125em) {
    .imagePlaceholder--imageBanner:before {
        padding-top:37.5rem
    }
}